html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.verify {
  height: 100%;
  background-color: rgb(53, 45, 45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.verify .link-gen {
  color: whitesmoke;
  text-decoration: none;
}

.verify .link-gen:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.verify .card {
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  max-height: 800px;
  display: flex;
  background-color: rgb(41, 35, 35);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.verify .card .left {
  flex: 1;
  background:
    linear-gradient(rgba(7, 2, 16, 0.5), rgba(7, 2, 16, 0.5)),
    url("./arch.jpeg") center;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}

.verify .card .left h1 {
  font-size: 40px;
  line-height: 1.2;
}

.verify .card .left span {
  font-size: 14px;
}

.verify .card .left button {
  width: 50%;
  padding: 10px;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.verify .card .right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.verify .card .right h1 {
  color: rgb(255, 255, 255);
}

.verify .card .right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.verify .card .right form input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.verify .card .right form button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #ceb888;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.verify .card .right div {
  border: 1px solid red;
  padding: 10px;
  color: rgb(213, 65, 65);
  font-weight: bold;
}

@media (max-width: 768px) {
  .verify .card {
    flex-direction: column;
    height: auto;
  }

  .verify .card .left,
  .verify .card .right {
    padding: 20px;
  }
}
